<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="/fonts/NotoNaskhArabicUI-Bold.ttf" rel="stylesheet">
    <title>M. Khan & Sons Distribution Agency</title>
    <meta name="theme-color" content="#00bcd4">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1 align="center"><a href="/">M. Khan Sons Distribution Agency</a></h1>
    <%if(!data.length){%>
    <h3 align="center">No Sale Record found for Today</h3>
    <%}else{%>
    <h3 align="center">Date: mm/dd/yy <%=data[0]._lastDate%></h3>

    <table style="width:100%">
        <thead>
            <tr>
                <th align="left">Company</th>
                <th align="left">Product</th>
                <th align="left">Price</th>
                <th align="left">Qty</th>
                <th align="left">Total</th>
            </tr>
        </thead>

        <tbody>
            <%let total=0%>
            <%for(let i=0;i<data.length; i++){%>
            <tr>
                <td><%=data[i]._company._name%></td>
                <td><%=data[i]._name%></td>
                <td><%=data[i]._price%></td>
                <td><%=data[i]._sold%></td>
                <td><%=data[i]._price*data[i]._sold%></td>
                <%total+=data[i]._price*data[i]._sold%>
            </tr>
            <%}%>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total: </b></td>
                    <td><b><%=total%></b></td>
            </tr>
        </tbody>
    </table>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!--JavaScript at end of body for optimized loading-->
    <script>
        window.print();
    </script>
    <%}%>

</body>

</html>